.member_details {
    background-color: white;
    color:black;
    /* text-align: center; */
    /* margin-top: 50px; */
    position: relative;
}
.require_star{
    color: red;
}
.member_details h1 {
    padding-top: 50px;
    text-align: center;
}
.member_details_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: orange; */
    margin: auto;
    padding: 25px;
    align-items:center;
    font-size: 18px;
}
.member_details_container .member_label{
    margin:15px 0;
    display:inline-block;
    padding:6px;
    font-size: 16px;
    border-radius: 5px;
    border-color: transparent;
    border-bottom: 2px solid #1c87c9;
}

.member_details_container .member_label:active{
    border-color: transparent;
    border-bottom: 2px solid #78c91c;
}
.member_details_container .member_label:focus {
    border-color: transparent;
    border-bottom: 2px solid #78c91c;
}

.btn_previous, .btn_next {
    margin:15px 0;
    display:inline-block;
    padding:10px;
    font-size: 16px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #1c87c9;
    color: white;
    
    /* border-bottom: 2px solid #1c87c9; */
}
.btn_previous {
    padding:10px;
}
.btn_next {
    margin-left: 10px;
    padding:10px 25px;
}

.btn_previous:hover, .btn_next:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
    color: #1c87c9;
    border-color: #1c87c9;
}