.ps-main {
  width: 100%;
  height: fit-content;
  background-color: #f3f4f6;
  height: fit-content;
  padding-top: 100px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 150px; */
}

.ps-title {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;

  /* border: 1px solid black; */
}

.ps-sub-title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}

.ps-btn-cnt {
  margin-top: 100px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.ps-btn {
  /* background-color: #041149; */
  background-color: grey;
  height: 70px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ps-btn1 {
  background-color: #041149;
  height: 70px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ps-btn:hover {
  /* background-color: #091f81; */
  box-shadow: 0px 0px 65px -16px rgba(0, 0, 0, 0.79);
}

@media (max-width: 1200px) {
  .ps-title {
    font-size: 5vw;
  }
}

@media (max-width: 950px) {
  .ps-btn-cnt {
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
  }
  .ps-title {
    margin-bottom: 20px;
  }
}

@media (max-width: 750px) {
  .ps-title {
    /* border: 1px solid black; */
    width: 80%;
    text-align: center;
    font-size: 30px;
  }
}

@media (max-width: 520px) {
  .ps-sub-title {
    font-size: 4vw;
  }

  .ps-btn {
    width: 80vw;
    font-size: 4vw;
    height: 13vw;
  }

  .ps-btn1 {
    width: 80vw;
    font-size: 4vw;
    height: 13vw;
  }
}
