.rg-topic {
  /* background-color: #041149; */
  display: flex;
  /* color: white; */
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 20px;
  width: 100%;
  padding: 30px 0 20px 0;
  width: 55%;
}

.rg-team-details {
  margin-bottom: 40px;
  /* border: 1px solid black; */
  width: 55%;
}

.rg-main {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
}

.rg-team-fields {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* align-items: center; */
}

.rg-team-topic {
  /* margin-left: -40px; */
  /* border: 1px solid black; */
  font-size: 20px;
  margin-bottom: 20px;
}

.reg-btn {
  width: 55%;
  margin-bottom: 20px;
}

.rg-announce {
  font-size: 12px;
  margin-bottom: 50px;
  width: 80%;
}

.upload-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 146, 0);
  padding: 10px 0 10px 0;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: green;
}

@media (max-width: 550px) {
  .rg-team-details {
    margin-bottom: 40px;
    /* border: 1px solid black; */
    width: 80%;
  }

  .rg-topic {
    width: 80%;
    font-size: 7vw;
  }

  .reg-btn {
    width: 80%;
    margin-bottom: 20px;
  }
}
@media (max-width: 350px) {
  .rg-team-topic {
    /* margin-left: -40px; */
    /* border: 1px solid black; */
    font-size: 5vw;
    margin-bottom: 20px;
  }
}
