.spn-main {
  width: 100%;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 100px; */
  padding-top: 80px;
  padding-bottom: 80px;
}

.ps-main-sponser {
  /* border: 1px solid black; */
  width: 350px;
  height: 250px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  transition: all 0.3s ease 0.15s;
  cursor: pointer;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.ps-sponser-title {
  font-size: 50px;
  margin-bottom: 80px;
  font-weight: 600;
}

.sponser-title {
  font-size: 25px;
  margin-bottom: 20px;
}

.sponser-img {
  width: 300px;
  /* height: 200px; */
}

.ps-platinum {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  transition: all 0.3s ease 0.15s;
  cursor: pointer;

  width: 600px;
  height: 320px;
}

.ps-platinum-img {
  width: 380px;
}

.lseg-img {
  width: 600px;
}

.ps-platinum:hover {
  /* height: 220px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ps-main-sponser:hover {
  /* height: 220px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.spn-other-sponsers {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: auto;

  grid-column-gap: 100px;
  margin-top: 50px;
}

.ps-platinum-div {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.img-cnt {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1460px) {
  /* .spn-other-sponsers {
    grid-column-gap: 5vw;
    margin-top: 0px;
  }
  .spn-other-sponsers > .ps-main-sponser {
    width: 20vw;
    height: 16vw;
  }
  .spn-other-sponsers > .ps-main-sponser > .sponser-img {
    width: 80%;
  }

  .spn-other-sponsers > .ps-main-sponser > .sponser-title {
    font-size: 20px;
    text-align: center;
  } */

  .ps-platinum-div {
    flex-direction: column;
    gap: 0px;
    /* border: 1px solid red; */
  }
}

@media (max-width: 800px) {
  .spn-other-sponsers {
    grid-template-columns: auto;
  }
  .spn-other-sponsers > .ps-main-sponser {
    width: 350px;
    height: 250px;
  }
  .ps-platinum {
    width: 350px;
    height: 250px;
  }
  .spn-other-sponsers > .ps-main-sponser > .sponser-img {
    width: 300px;
  }

  .ps-platinum-img {
    width: 300px;
  }

  .spn-other-sponsers > .ps-main-sponser > .sponser-title {
    font-size: 25px;
    text-align: center;
  }

  .ps-platinum-div {
    width: 90%;
  }
}
@media (max-width: 750px) {
  .ps-sponser-title {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .spn-other-sponsers {
    grid-template-columns: auto;
  }
  .ps-main-sponser {
    width: 65vw;
    height: 50vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .ps-platinum {
    width: 65vw;
    height: 50vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .ps-platinum-img {
    width: 80%;
  }
  .lseg-img {
    width: 90%;
  }
  .ps-main-sponser > .img-cnt > .sponser-img {
    width: 80%;
    /* background-color: rebeccapurple; */
  }

  .ps-main-sponser > .sponser-title {
    font-size: 18px;
    text-align: center;
  }
  .ps-platinum > .sponser-title {
    font-size: 20px;
    text-align: center;
  }

  .spn-other-sponsers > .ps-main-sponser {
    width: 65vw;
    height: 50vw;
  }
  .spn-other-sponsers > .ps-main-sponser > .sponser-img {
    width: 80%;
  }

  .spn-other-sponsers > .ps-main-sponser > .sponser-title {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .ps-main-sponser > .img-cnt > .dialog-img {
    width: 60%;
  }
}
